In [23]:
import pandas as pd
from pandas import MultiIndex
import numpy as np

In [24]:
pd.DataFrame([{'Anforderungsname': 'test',
       'ID' : 42,
       'Priori채t': 'muss',
      'Akteur': 'Tester',
      'Vorbedingung' : 'keine',
      'Nachbedingung': 'nope'
}])

   Akteur Anforderungsname  ID Nachbedingung Priori채t Vorbedingung
0  Tester             test  42          nope     muss        keine

In [25]:
arrays = [[1, 1, 2, 2], ['red', 'blue', 'red', 'blue']]
MultiIndex.from_arrays(arrays, names=('number', 'color'))

MultiIndex(levels=[[1, 2], ['blue', 'red']],
           labels=[[0, 0, 1, 1], [1, 0, 1, 0]],
           names=['number', 'color'])

In [32]:
l=[('A', 'a'),  ('A', 'b'), ('B','a'),  ('B','b')]
df = pd.DataFrame(np.random.randn(5,4), columns = l)
df

     (A, a)    (A, b)    (B, a)    (B, b)
0 -0.263190 -0.356023 -0.727567 -1.066361
1  0.132906  0.889321 -0.226966 -0.363626
2 -0.548950 -0.617693 -1.287744 -1.327029
3  0.336689  1.407671 -0.488074 -0.250971
4  0.656037 -1.937797  0.931127 -0.861146

In [29]:
df.columns = pd.MultiIndex.from_tuples(df.columns, names=['Caps','Lower'])
df

Caps          A                   B
Lower         a         b         a         b
0     -1.172486  2.579790 -0.023459 -0.161150
1     -1.539280  1.026820  1.369233 -0.991988
2      1.291966  1.745818 -0.829573 -0.742724
3     -0.777422 -0.793930  0.193808  1.064272
4     -0.757347 -1.012190  0.337687  0.013083

In [40]:
from tabulate import tabulate
import json
d = {'Anforderungsname': 'test',
       'ID' : 42,
       'Priori채t': 'muss',
      'Akteur': 'Tester',
      'Vorbedingung' : 'keine',
      'Nachbedingung': 'nope'
}



headers = ['Name', 'Code']

print(tabulate(d, headers=headers))

TypeError: zip_longest argument #2 must support iteration

In [43]:
q = {"GEL": "Georgian Lari",
"BOB": "Bolivian Boliviano",
"ZAR": "South African Rand"}

headers = ['Name', 'Code']
data = sorted([(v,k) for k,v in q.items()]) # flip the code and name and sort
print(tabulate(data, headers=headers))

Name                Code
------------------  ------
Bolivian Boliviano  BOB
Georgian Lari       GEL
South African Rand  ZAR